client/client
server/server
captures/caps/p??_*
captures/caps/u??_*
captures/caps/x??_*
captures/caps/crypto_*
captures/caps/aes_128_gcm_decrypt*
captures/caps/hp_removal
quiche/quiche
quiche/include
quiche/*.a
*.dSYM
*.stamp
