<!doctype html>
<html>

<head>
    <title>The Illustrated QUIC Connection: Every Byte Explained</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="title" content="The Illustrated QUIC Connection"/>
    <meta name="description" content="Every byte of a QUIC connection explained and reproduced"/>
    <link rel="stylesheet" href="frombootstrap.css"/>
    <link rel="stylesheet" href="illustrated.css"/>
    <script src="illustrated.js"></script>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://quic.ulfheim.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The Illustrated QUIC Connection: Every Byte Explained">
    <meta property="og:description" content="Every byte of a QUIC connection explained and reproduced">
    <meta property="og:image" content="https://quic.ulfheim.net/images/og.png?bustin">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="quic.ulfheim.net">
    <meta property="twitter:url" content="https://quic.ulfheim.net/">
    <meta name="twitter:title" content="The Illustrated QUIC Connection: Every Byte Explained">
    <meta name="twitter:description" content="Every byte of a QUIC connection explained and reproduced">
    <meta name="twitter:image" content="https://quic.ulfheim.net/images/og.png?bustin">
</head>

<body class="illustrated">
<div class="header">
    <a class="this-page" href="https://quic.ulfheim.net">QUIC</a>
    <a href="https://tls13.ulfheim.net">TLS 1.3</a>
    <a href="https://tls12.ulfheim.net">TLS 1.2</a>
</div>
<h1>The Illustrated QUIC Connection</h1>
<div class="container">

    <h3>Every byte explained and reproduced</h3>

    <div class="outerblock">
    <p><b>
    QUIC is a secure UDP-based stream protocol that forms
    the basis of HTTP/3.</b>
    </div>

    <div class="outerblock">
    <p>In this demonstration a client connects to a server,
    negotiates a QUIC connection with TLS encryption, sends "ping",
    receives "pong", then terminates the connection.
    Click below to begin exploring.</p>
    </div>
